iframe{
    width: 480px;
    height: 390px;
    align-content: center;
}
.profile{
    width: 75px;
    height: 75px;
}
#map{
    width: 100%;
}
#conceitual{
    border: solid black 5px;
    border-radius: 10px;
}